rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    match /{collection}/{id} { allow read, write: if signedIn() && collection in ['users', 'categories', 'payments', 'settings']; }
  }
}
